#header-container {
    padding: 0 8% 0 8%;
}

#title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title-container > img {
    width: 100px;
    height: 100px;
    margin: 10%;
}

#name-container {
    
}

#nav-container {
    border-top: 1px solid red;
}

#nav-container ul {
    display: flex;
    list-style-type: none;
}

#nav-container li {
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}

#nav-container li:hover {
    color: green;
}